html {
    height: 100%
}

.paddy_boi {
    padding-bottom: 0.5em;
}

.scrollable {
    height: 100% !important;
    overflow: auto;
}

.padded-top {
    padding-top: 3.5em !important;
}

.full-height {
    height: 100% !important;
}

.full-height>.ui.grid {
    height: 100%;
}

.pushable>.pusher {
    height: 100%;
}

.modal-90w {
    width: 90%;
    max-width: none !important;
}

.vertical-center {
    display: flex !important;
    align-items: center;
}

hr.ingredient {
    border: none;
    height: .25em;
    /* Set the hr color */
    color: #000000; /* old IE */
    background-color: #000000; /* Modern Browsers */
}