<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
</head>
<body>
<div id="<%= htmlWebpackPlugin.options.react_id %>" class="full-height"></div>
</body>
</html>